<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Nomes</title>
</head>
<body>
    <form method="post" action="/adicionar">

        <label>Primeiro nome:</label>
        <input type="text" name = "txtPrimeiroNome">

        <label>Sobrenome:</label>
        <input type="text" name="txtSobrenome">

        <label>Genero</label>
        <input type="text" name="txtGenero">

        <button type="submit">Cadastrar Nome</button>

    </form>


    
</body>
</html>