{% extends "padrao.html" %}

{% block conteudo %}
<form method="post" action="/adicionar">

<fieldset>

    <!-- Criando divisões para cada campo -->
    <div class="mb-3">
        <label for="txtNome">Nome da Música:</label>
        <input type="text" name="txtNome" id="txtNome" class="form-control">
    </div>


    <div class="mb-3">
        <label for="txtCantor">Cantor / Grupo / Banda:</label>
        <input type="text" name="txtCantor" id="txtCantor" class="form-control">
    </div>


    <div class="mb-3">
        <label for="txtGenero">Genero:</label>
        <input type="text" name="txtGenero" id="txtGenero" class="form-control">
    </div>


    <div class="mb-3">
        <button type="submit" class="btn btn-success">Cadastrar</button>
    </div>

</fieldset>
</form>

{% endblock %}
