<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Música</title>
</head>
<body>
    <h2>Músicas cadastradas</h2>

    <table>

        <tr>
            <!-- O comando 'th' são apenas para células titulos -->
            <th>Música</th>
            <th>Cantor / Grupo / Banda</th>
            <th>Gênero</th>
        </tr>

        <tr>
            <!-- Já o comando 'td' são usados para células com dados normais -->
            <td>Ousadia e Alegria</td>
            <td>Thiaguinho</td>
            <td>Pagode</td>
        </tr>

        <tr>
            <td>Black in Black</td>
            <td>ACDC</td>
            <td>Rock</td>
        </tr>

        <tr>
            <td>Isis</td>
            <td>MC Caco</td>
            <td>Funk</td>
        </tr>

    </table>
    
</body>
</html>