<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de nomes</title>
    <style type="text/css">
        table,td,th{
            border: 1px, solid, black;
        }

    </style>

</head>
<body>
<!-- Esse programa foi feito por mim com base nos ensinamentos do curso -->
    <h2>Lista de nomes</h2>

    <table>

        <tr>
            <td>Nome</td>
            <td>Sobrenome</td>
        </tr>

        {% for name in nomes %}
        <tr>
            <td>{{ name }}</td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}

    </table>
    
</body>
</html>