{% extends "padrao.html" %}

{% block conteudo %}
<table class="table table-borderless table-hover table-striped">

    <thead class="table-dark">
        <tr>
            <!-- O comando 'th' são apenas para células titulos -->
            <th>Música</th>
            <th>Cantor / Grupo / Banda</th>
            <th>Gênero</th>
        </tr>
    </thead>


    <tbody>
    {% for music in musicas %} <!-- Aqui comçamos um laço para adicionar as músicas ao HTML -->
        <tr>
            <!-- Já o comando 'td' são usados para células com dados normais -->
            <td>{{ music.nome}}</td>
            <td>{{ music.cantorBanda }}</td>
            <td>{{ music.genero }}</td>
        </tr>
    {% endfor %} <!-- E aqui fechamos o nosso laço -->
    </tbody>

</table>
{% endblock %}
