<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Música</title>
    <style type="text/css">

        table,td,th{
            border: 1px solid black;
        }

    </style>
</head>
<body>
    <h2>Músicas cadastradas - {{ titulo }}</h2>

    <table>

        <tr>
            <!-- O comando 'th' são apenas para células titulos -->
            <th>Música</th>
            <th>Cantor / Grupo / Banda</th>
            <th>Gênero</th>
        </tr>

        {% for music in musicas %} <!-- Aqui comçamos um laço para adicionar as músicas ao HTML -->
        <tr>
            <!-- Já o comando 'td' são usados para células com dados normais -->
            <td>{{ music.nome}}</td>
            <td>{{ music.cantorBanda }}</td>
            <td>{{ music.genero }}</td>
        </tr>
        {% endfor %} <!-- E aqui fechamos o nosso laço -->

    </table>
    
</body>
</html>