<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Tela de Login</title>
    <link rel="stylesheet" href="../static/bootstrap.css">
</head>
<body>
    <div class="container">
        <form method="post" action="/autenticar">
            <fieldset>
                <div class="mb-3">
                    <label for="txtLogin">Login</label>
                    <input type="text" name="txtLogin" id="txtLogin" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="txtSenha">Senha</label>
                    <input type="password" name="txtSenha" id="txtSenha" class="form-control">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-success">Logar</button>
                </div>
            </fieldset>
        </form>
    </div>



</body>
</html>