<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form method="post" action="/autenticar">

        <fieldset>
            <legend>Entre com suas informações</legend>

            <label>Login</label>
            <input type="text" name="txtLogin">

            <label>Senha</label>
            <input type="password" name="txtSenha">

            <button type="submit">Logar</button>


        </fieldset>

    </form>


    
</body>
</html>