<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Tela de Login</title>
</head>
<body>
    <form method="post" action="/autenticar">

        <fieldset>

            <legend>Entre com sua informações</legend>

            <label>Login</label>
            <input type="text" name="txtLogin">

            <label>Senha</label>
            <input type="password" name="txtSenha">

            <button type="submit">Logar</button>

        </fieldset>


    </form>



</body>
</html>