<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Tela de Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
</head>
<body>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class= "list-unstyled" id="messages">
                {% for message in messages %}
                    <li class="alert alert-danger">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="container">
        <form method="post" action="/autenticar">
            <fieldset>
                <div class="mb-3">
                    <label for="txtLogin">Login</label>
                    <input type="text" name="txtLogin" id="txtLogin" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="txtSenha">Senha</label>
                    <input type="password" name="txtSenha" id="txtSenha" class="form-control">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-success">Logar</button>
                </div>
            </fieldset>
        </form>
    </div>



</body>
</html>